/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html{
    height:100%;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    padding-bottom: 100px;
    color: #5a5a5a;
    position: relative;
    min-height: 100%;
    padding-top: 70px;
    font-size: 16px;
    font-weight: 300;
}

body#home {
    padding-top: 0;
}

.page-header h1 small {
	margin-left: 10px;
}

.page-header h1 small.pull-right{
    position: relative;
    bottom: -12px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-default {
    background-image: linear-gradient(to bottom, #4ccbc0 0%, #48b7ac 100%);
    border-color: #41a398;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #dedede;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    border: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #dedede;
    border: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #efefef;
    background-image: linear-gradient(to bottom, #48a89d 0%, #398075 100%);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #dedede;
    background-color: #398075;
}

.navbar-default .navbar-toggle {
    border-color: #398075 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #398075 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #dedede;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #dedede;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #dedede;
        background-color: #398075 !important;
    }
}

nav.navbar {
    transition: height 0.8s ease;
}

nav .navbar-nav > li > a {
    transition: font-size 0.6s ease, line-height 0.6s ease;
}

nav .navbar-brand > img {
    transition: width 0.6s ease;
}

nav .navbar-brand > img {
    width: 60px;
}

@media (min-width: 768px) {
    .transparent.navbar-default {
        background-image: none;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }

    .transparent.navbar-default .navbar-nav > .active > a,
    .transparent.navbar-default .navbar-nav > .active > a:hover,
    .transparent.navbar-default .navbar-nav > .active > a:focus {
        color: #48b7ac;
        background-image: none;
        background-color: transparent;
        box-shadow: none;
    }

    .transparent.navbar-default .navbar-nav > li > a:hover,
    .transparent.navbar-default .navbar-nav > li > a:focus {
        color: #48b7ac;
    }

    .transparent.navbar {
        height: 83px;
    }

    .transparent.navbar .navbar-nav > li > a {
        font-size: 3.2vw;
        line-height: 3.3vw;
        text-transform: uppercase;
        padding-left: 1.5vw !important;
        padding-right: 1.5vw !important;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
        font-weight: 400;
    }

    .transparent .navbar-brand > img {
        width: 9.0vw;
        -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.6)) !important;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.6)) !important;
    }
}

/* CUSTOMIZE THE corporate Button
-------------------------------------------------- */

.btn-corporate {
    background-color: #49BFB4;
    border-color: #49BFB4;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #42b2a7;
    background-image: -moz-linear-gradient(top, #49BFB4, #379e94);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#49BFB4), to(#379e94));
    background-image: -webkit-linear-gradient(top, #49BFB4, #379e94);
    background-image: -o-linear-gradient(top, #49BFB4, #379e94);
    background-image: linear-gradient(to bottom, #49BFB4, #379e94);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff49bfb4', endColorstr='#ff379d94', GradientType=0);
    border-color: #379e94 #379e94 #24655f;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-corporate:hover,
.btn-corporate:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-corporate:hover,
.btn-corporate:focus {
    background-color: #379e94;
}

.btn-corporate:active,
.btn-corporate.active,
.btn-corporate.active:hover {
    background-color: #3eb0a6;
    border-color: #379e94;
}

.btn-corporate.disabled:hover,
.btn-corporate.disabled:focus,
.btn-corporate.disabled:active,
.btn-corporate.disabled.active,
.btn-corporate[disabled] .btn-corporate:hover,
.btn-corporate[disabled] .btn-corporate:focus,
.btn-corporate[disabled] .btn-corporate:active,
.btn-corporate[disabled] .btn-corporate.active {
    background-color: #49BFB4;
    border-color: #49BFB4;
}

/* CUSTOMIZE THE corporate Pills
-------------------------------------------------- */

.nav-pills > li > a{
    border: 1px solid  transparent;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #3eb0a6;
    background-color: transparent;
    border: 1px solid  #3eb0a6;
    border-radius: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
    color: #3eb0a6;
    border: 1px solid  #EEE;
    border-radius: 0;
}

a {
    color: #3aa399;
}

/* CUSTOMIZE THE HOME PAGE
-------------------------------------------------- */

.product-item a {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.product-item a img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);

    transition: filter 0.8s ease;
    -webkit-transition: filter 0.5s ease;
    -moz-transition: filter 0.5s ease;
    -ms-transition: filter 0.5s ease;
    -o-transition: filter 0.5s ease;
}

.product-item a:hover img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.product-item .item-title {
	background: rgba(55, 158, 148, 0.6);
	margin: 0;
	padding: 10px 0;
    text-align: center;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    font-weight: 400;
}

.product-item.article .item-title {
	bottom: 50%;
    margin-bottom: -23px;
	background: none;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.product-item.article:hover .item-title{
    opacity:1;
}


    /* CUSTOMIZE THE HOME Modal
    -------------------------------------------------- */
#productModal ul{
    padding:0 0 0 0;
    margin:0 0 0 0;
}
#productModal li{
    list-style: none;
}

#productModal .vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#productModal li img {
    vertical-align: middle;
	border: 1px solid #EEE;
}

#productModal li img:hover {
	border: 1px solid #379E94;
}


.article-ul img {
    width: 80px;
    border: 2px solid #dedede;
}

.article-ul img:hover {
    border-color: #666;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 100vh;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    margin-bottom: 35vh;
    background: rgba(255, 255, 255, 0.6);
    color: #41a398;
    text-shadow: none;
}

#lazyline-caption {
    margin-bottom: 25vh;
	background: transparent;
}

#lazy-line-painter {
	width: 300px;
    margin: auto;
}

.carousel-caption h1 {
	font-weight: 700;
}


.carousel-caption p {
	color: black;
}

.carousel-caption .btn {
    background: transparent;
    border-radius: 0;
    border-color: black;
    color: black;
    font-weight: 300;
}

.carousel-caption .btn:hover {
    border-color: #41a398;
    color: #41a398;
}

.carousel-indicators {
    bottom: 15vh;
}

.carousel-indicators li {
	width: 16px;
	height: 16px; 
	border: 2px solid #41a398;
}

.carousel-indicators .active {
	border-color: #41a398;
	background-color: #41a398;
	width: 18px;
	height: 18px; 
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 100vh;
    background-color: #FFF;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

.carousel-inner > .item > .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

/* HOME CSS
-------------------------------------------------- */

.room img {
    width: 100%;
}

/* FOOTER CSS
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 85px;
    background-image: linear-gradient(to bottom, #4ccbc0 0%, #48b7ac 100%);
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
}

.container .text-muted {
    margin: 20px 0;
}

.footer .footer-img-wrapper{
    text-align: center;
}

.footer .footer-img-wrapper img{
    width:60px
}

.footer ul,
.footer li{
    list-style: none;
    margin:0;
    padding:0;
}

.footer li{
    text-align: center;
}

.footer li a{
    position: relative;
    color: #FFF;
    padding:5px 10px;
    width:33%;
    margin-left: 20px;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear;
}

.footer li a:before {
    content: "/";
    position: absolute;
    left: -16px;
    text-align: center;
    width: 16px;
}

.footer li:first-child a:before{
    content: "";
}

.footer li a:hover{
    text-decoration: none;
    border-radius: 3px;
    background-color: #41a398;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    body{
        padding-bottom: 80px;
    }


    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

    .footer {
        height: 60px;
    }

    .footer .footer-img-wrapper{
        text-align: left;
    }

    .footer ul{
        float: right;
        left:0;
    }

    .footer li{
        right:0%;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.category-links {
    margin: 0 0 20px;
}

/* BACKEND STYLES
----------------------------------------------------*/

.table .slider-item,
.thumbnail .slider-item{
    border: 3px solid #3e8f3e;
}

form img {
    width: 180px;
    border: 2px solid #dedede;
    margin-bottom: 10px;
}

.modal-body h2.text-success span.glyphicon{
    top:5px;
    margin-right: 20px;
}