/************** general css **************/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #FFF;;
}

*, *::after, *::before {
    box-sizing: border-box;
}

header, footer {
    margin: 0;
    padding: 0;
    background-color: #ead8eb;
}

nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}

section{
    display:block;
    padding: 50px 0;
}

h1{
    text-align: center;
}


.btn{
    padding: 10px 20px;
    border-radius: 2px;
    border:1px solid #666;
    background: #ededed;
    color:#666;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.2s ease 0s;
    transition: color 0.2s ease 0s;
    display: inline-block;
}

.btn:hover{
    background: #dedede;
    color:#333;
}

.btn.submit:hover{
    border-color: #3f7f3f;
    background: #5CB85C;
    color:#fff;
}

.btn.reset:hover{
    border-color: #A72A29;
    background: #C9302C;
    color:#fff;
}

.btn.delete:hover{
    border-color: #c08b3d;
    background: #F0AD4E;
    color:#fff;
}

.btn.edit:hover{
    border-color: #1f496f;
    background: #337AB7;
    color:#fff;
}

/************** header/footer css **************/

header{
    position: fixed;
    width: 100%;
    z-index: 10;
    top:0;
}

nav a {
    color: #333333;
    font-weight: lighter;
    text-decoration: none;
    margin: 10px 30px 10px 0;
}

nav li:last-child a {
    margin-right: 0;
}

nav a:hover {
    border-bottom: 1px solid #333333;
}

nav li {
    float: left;
}

nav ul {
    float: right;
}

nav {
    overflow: hidden;
    padding: 20px 0;
}

footer {
    position: relative;
    bottom: 0;
}

/************** article-top css **************/

#article-top{
    margin-top:60px;
    position: relative;
    height: 90vh;
    padding:20px;
    background-color: #efefef;
    text-align: center;
}

#article-top h1{
    font-size: 45px;
}

#article-top a{
    margin-top: 100px;
}

/************** article-form css **************/

#article-form fieldset {
    border: none;
    padding:0;
    margin:20px 0;
}

#article-form fieldset h3{
    font-size: 20px;
    display: block;
    font-weight: bolder;
    margin-bottom: 50px;
    border-bottom: 3px solid #dedede;
}

#article-form fieldset .form-help{
    float: left;
    width: 30%;
}
#article-form fieldset .form-help p{
    margin: 0;
    padding:0 100px 0 0;
}

#article-form fieldset .input-group{
    float: right;
    width: 70%;
    overflow: hidden;
}

#article-form fieldset .form-group{
    margin: 0 0 30px 0;
}

#article-form fieldset .form-group:last-child{
    margin: 0;
}

#article-form .form-group .col3{
    float: left;
    width: 33%;
    padding: 0 10px;
}

#article-form .form-group label{
    display: block;
    font-size: 0.9em;
    color:#666;
}

#article-form .form-group input,
#article-form .form-group select,
#article-form .form-group textarea{
    border: 1px solid transparent;
    border-bottom: 1px solid #dedede;
    padding:5px;
    font-size: 24px;
    width: 100%;
    transition: background 0.3s ease 0.3s;
    transition: color 0.3s ease 0.3s;

}

#article-form .form-group input:focus,
#article-form .form-group select:focus,
#article-form .form-group textarea:focus{
    border: 1px solid #dedede;
    background: #dedede;
    color:#666;
}

#article-form textarea {
    height: 155px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#article-form img{
    width: auto;
    margin: 50px auto;
    display: block;
}

#map
{
    display: block;
    width: 99.9%;
    height:240px;
    margin-top:28px;
}

#article-form .btn-group{
    width: 100%;
    margin: 30px 0;
    text-align: center;
    float:left;
}

/************** article-table css **************/

#article-table form{
    margin-bottom: 20px;
}

#article-table input{
    vertical-align: middle;
}

#article-table #search-bar{
    border: 1px solid #999;
    width:90.5%;
    padding:1%;
}

#article-table table{
    width: 100%;
    max-width: 100%;
    border-spacing: 0px;
}

#article-table table td {
    padding: 20px;
    text-align: left;
    vertical-align: middle;
}

#article-table table tr td:nth-child(2) {
    min-width: 195px;
}

#article-table table tr td:nth-child(3) {
    min-width: 150px;
}

#article-table table tr td:first-child{
    min-width: unset;
    padding-left:0;
}

#article-table table tr td:last-child{
    min-width: unset;
    padding-right:0;
}

#article-table table td h3{
    color:#999999;
    font-size: 21px;
}

#article-table table td img{
    width:120px;
}

/************** helpers css **************/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */

