Options +FollowSymLinks
RewriteEngine on

# ADMIN - BEREICH
RewriteRule ^admin/([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=admin&action=$1&rest=$2&id=$3 [NC,L]

RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3 [NC,L]