<!doctype html>
<html lang="de">
    <head >
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/test.css"/>
    </head>
    <body>
        <header>
            <h1>
                Ingas Möbel-Einhorn
                <img src="../img/einhorn_0001.gif" alt="logo"/>
            </h1>
        </header>

    
        <table border="1">
            <tr>
                <th>Feld 1</th>
                <th>Feld 2</th>
                <th>Feld 3</th>
                <th>Feld 4</th>
                <th>Feld 5</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
        </table>
        <br>
        <form>
            <label for="name">Artikelname:</label>
            <input id="name" type="text" name="name" value="saasdasasasd" placeholder="Bitte hier den Artikelname" required />
            <br>
            <label for="description">Artikelbeschreibung:</label>
            <textarea id="description"  name="description" required>

            </textarea>

            <br>
            <label for="email">E-Mail:</label>
            <input id="email" type="email" name="email" value="" placeholder="Bitte hier die E-Mail Adresse" />

            <input type="file"/>

            <input type="submit" value="Speichern"/>
            <input type="reset" value="Abbrechen"/>

        </form>

        <footer>
            <h1>
                <img src="../img/einhorn_0013.gif" alt="logo"/>
                Roberts Möbel-Einhorn
            </h1>
        </footer>
    </body>
</html>